@import "../../../../vars.scss";
h1 {
  font-size: 2rem;
  margin: 20px;
}

//style du formulaire
.form-container {
  width: 80%;
  margin: auto;
}
.inputContainer {
  margin-top: 16px;
}
label {
  margin-bottom: 8px;
}
select {
  max-width: 90%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="text"] {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-check {
  margin-bottom: 16px;
}

button[type="submit"] {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  &:disabled {
    background-color: #6395c4;
    cursor: default;
    color: #1f2c36;
  }
  &:enabled:hover {
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

input[type="text"].error {
  border: 1px solid $red;
}

.errorMessage p {
  font-size: 12px;
  color: $red;
}

@media (min-width: 700px) {
  .form-container {
    width: 50%;
    margin: auto;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  textarea {
    font-size: 16px;
  }

  button[type="submit"] {
    font-size: 18px;
  }
}
