<div class="container">
  <a [routerLink]="['../../home']">Retour à l'accueil</a>

  <div class="form-container">
    <h1>Se connecter</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">Email</label>
      <input
        type="text"
        name="username"
        id="username"
        formControlName="username"
      />
      <label for="password">Mot de passe</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
      <button type="submit">Se connecter</button>
    </form>
    <a [routerLink]="['../register']"
      >Pas encore de compte? S'enregistrer</a
    >
  </div>
</div>
