<h1>Paquets publiques</h1>
<div class="container">
  <div *ngFor="let deck of deckList">
    <article class="card" *ngIf="deck">
      <header>
        <div class="headerContainer">
          <div class="tooltip">
            <span class="tooltiptext">Détails du paquet</span>
            <a
              [routerLink]="['/decks-detail', deck.id]"
              aria-label="Détails du paquet"
              ><i class="bi bi-eye-fill"></i
            ></a>
          </div>
          <div *ngIf="isLogged" class="tooltip">
            <span class="tooltiptext">Ajouter à mes paquets</span>
            <a
              (click)="duplicate(deck.id!)"
              (keydown.enter)="duplicate(deck.id!)"
              aria-label="Ajouter à mes paquets"
              tabindex="0"
              ><i class="bi bi-copy"></i
            ></a>
          </div>
        </div>
      </header>

      <div class="cardBody">
        <h2>{{ deck.name }}</h2>
        <p>Crée par {{ deck.pseudo }}</p>
      </div>
    </article>
  </div>
</div>
<app-pagination
  [currentPage]="currentPage"
  [totalPages]="total"
  (goTo)="onGoTo($event)"
  (next)="onNext($event)"
  (previous)="onPrevious($event)"
></app-pagination>
