<div class="card">
  <i class="bi bi-plus-circle"></i>
  <div class="container">
    <a [routerLink]="['add']">Créer un paquet</a>
  </div>
</div>
<div *ngFor="let deck of deckList">
  <div class="card" *ngIf="deck">
    <div class="cardHeader">
      <a [routerLink]="['./', deck.id, 'test']"
        ><i class="bi bi-play-fill"></i></a
      ><a [routerLink]="['edit', deck.id]"><i class="bi bi-pencil-fill"></i></a>
      <a [routerLink]="['./', deck.id, 'flashcards']"
        ><i class="bi bi-list-task"></i></a
      ><a [routerLink]="['../stats/decks/', deck.id]"
        ><i class="bi bi-pie-chart-fill"></i></a
      ><a (click)="delete(deck.id!)"><i class="bi bi-trash-fill"></i></a>
    </div>
    <div>
      <span>{{ deck.name }}</span>
    </div>
  </div>
</div>
