<footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>Mes Paquets</h4>
         <ul>
           <li><a [routerLink]="['decks']">Liste des paquets</a></li>
           <li><a [routerLink]="['decks/add']">Ajouter un paquet</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Mes statisques</h4>
         <ul>
           <li><a [routerLink]="['stats']">Consulter mes statistiques globales</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Accueil</h4>
         <ul>
            <li><a [routerLink]="['../home']">Retour à l'accueil</a></li>
          </ul>
       </div>
     </div>
    </div>
 </footer>
