<div class="container">
  <div>
    <h1>Apprenez le japonais facilement!</h1>
    <p>
      Apprendre le japonais peut sembler intimidant, mais ne vous inquiétez pas,
      nous sommes là pour vous guider à chaque étape du chemin. Avec notre
      application de flashcards japonais dotée d'un puissant système de révision
      espacée, vous pouvez conquérir cette langue fascinante plus rapidement et
      plus efficacement que jamais.
    </p>
    <button (click)="goToDecks()">Parcourir les paquets</button>
    <button (click)="goToUser()">Commencer à réviser</button>
  </div>
</div>
