<div class="container">
  <h1>Mes cartes</h1>
  <a [routerLink]="['add']">
    <div id="addCard" class="card">
      <i class="bi bi-plus-circle"></i>Créer une carte
    </div>
  </a>
  <div>
    <table>
      <thead>
        <tr>
          <th>Recto</th>
          <th>Interval</th>
          <th>Révisé le</th>
          <th>Niveau</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="card" *ngFor="let flashcard of flashcardList">
          <td data-label="Recto">
            {{ flashcard.front }}
          </td>
          <td data-label="Interval">{{ flashcard.intervalReview }}</td>
          <td data-label="Révisé le">
            {{ flashcard.reviewedAt | date : "dd/MM/YY 'à' HH:mm" }}
          </td>
          <td data-label="Niveau">{{ flashcard.knownLevel }}</td>
          <td data-label="Action">
            <div class="tooltip">
              <span class="tooltiptext">Modifier la carte</span>
              <a
                [routerLink]="['edit', flashcard.id]"
                aria-label="Modifier la carte"
                ><i class="bi bi-pencil-fill"></i
              ></a>
            </div>
            <div class="tooltip">
              <span class="tooltiptext">Supprimer la carte</span>
              <a
                class="deleteButton"
                (click)="confirmDelete(flashcard.id!)"
                tabindex="0"
                (keydown.enter)="confirmDelete(flashcard.id!)"
                aria-label="Supprimer la carte"
                ><i class="bi bi-trash-fill"></i
              ></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="total"
    (goTo)="onGoTo($event)"
    (next)="onNext($event)"
    (previous)="onPrevious($event)"
  ></app-pagination>
</div>
