@import "../../../../vars.scss";
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: 0.3s;
    padding: 16px;
    border-radius: 10px;
    width: 95%;
    margin: 20px auto;
    text-align: center;
  }
  i {
    margin-right: 1em;
  }
table {
	width: 100%;
	table-layout: fixed;
}

thead {
    display: none;
}

tr {
    display: block;
    padding: 1em 1em .5em;

    & + tr {
        margin-top: .625em;
    }
}

td {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
        content: attr(data-label);
        text-align: left;
        max-width: 45%;
        color: $primary-color;
        font-weight: bold;
        text-transform: uppercase;
    }
}


@media screen and (min-width: 600px) {
	table {
		thead {
			display: table-header-group;
		}

		tr {
			display: table-row;
			border: 0;
		}

		th, td {
			text-align: center;
		}

		th {
			text-transform: uppercase;
            color: $primary-color;
		}

		td {
			display: table-cell;

			&:before {
				display: none;
			}
		}
	}
}