<a [routerLink]="['add']">Créer une carte</a>
<div>
  <table>
    <tr>
      <th>Recto</th>
      <th>Interval révison</th>
      <th>Dernière révision</th>
      <th>Niveau</th>
    </tr>
    <tr *ngFor="let flashcard of flashcardList">
      <td>
        <a [routerLink]="['edit', flashcard.id]">{{ flashcard.front }}</a>
      </td>
      <td>{{ flashcard.intervalReview }}</td>
      <td>{{ flashcard.reviewedAt }}</td>
      <td>{{ flashcard.knownLevel }}</td>
      <td><a (click)="delete(flashcard.id!)">Supprimer</a></td>
    </tr>
  </table>
</div>
<app-pagination [currentPage]="currentPage"
[totalPages]="total"
(goTo)="onGoTo($event)"
(next)="onNext($event)"
(previous)="onPrevious($event)"></app-pagination>
