@import "../vars.scss";
//style général du toast
.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: $secondary-color;
  transition: transform 150ms ease-in-out;
  transform-origin: top right;
  transform: scale(0, 1);
  overflow: hidden;
}
.toast_content {
  display: flex;
  align-items: center;
}
.toast_content i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 35px;
  color: $secondary-color;
  font-size: 20px;
  border-radius: 50%;
}
.toast_content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.message .txt {
  font-weight: 400;
}
.message .txt1 {
  font-weight: 600;
}
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

//style barre de progression
.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}
.progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.progress.active::before {
  animation: progress 5s linear forwards;
}

//transition pour faire apparaître le toast
.active {
  transform: scale(1, 1);
}

// style toast erreur
.toast.error {
  border-left: 6px solid $red;
}
.toast.error .toast_content i {
  background: $red;
}
.toast.error .progress:before {
  background: $red;
}

// style toast succès
.toast.success {
  border-left: 6px solid $green;
}
.toast.success .toast_content i {
  background: $green;
}
.toast.success .progress:before {
  background: $green;
}

//animation barre de progression
@keyframes progress {
  100% {
    right: 100%;
  }
}

@media screen and (min-width: 700px) {
  .toast {
    padding: 20px 25px;
  }

  .toast_content i {
    height: 35px;
    width: 35px;
  }

  .message .txt {
    font-size: 20px;
  }
}
