<div class="container">
  <div [class.active]="displayError" class="toast error">
    <div class="toast_content">
      <i class="bi bi-x"></i>
      <div class="message">
        <span class="txt txt1">Erreur</span
        ><span class="txt txt2">{{ messageError }}</span>
      </div>
    </div>
    <a class="close" (click)="clearMsgError()"><i class="bi bi-x-lg"></i></a>
    <div [class.active]="displayError" class="progress"></div>
  </div>

  <div [class.active]="displaySuccess" class="toast success">
    <div class="toast_content">
      <i class="bi bi-check"></i>
      <div class="message">
        <span class="txt txt1">Succès</span
        ><span class="txt txt2">{{ messageSuccess }}</span>
      </div>
    </div>
    <a class="close" (click)="clearMsgSuccess()"><i class="bi bi-x-lg"></i></a>
    <div [class.active]="displaySuccess" class="progress"></div>
  </div>
</div>
<router-outlet></router-outlet>
