@import "../../../vars.scss";
.userdashboard-body {
  display: flex;
}

.menu {
  flex-grow: 1;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 10px;
}

.userdashboard-container {
  flex-grow: 6;
  background-color: #f5f5f5;
}
