@import "../../../vars.scss";
.userdashboard-body{
    display: flex;
}

.menu{
    flex-grow: 1;
    background-color: $primary-color;
    color: #fff;
    padding: 10px;
}

.userdashboard-container{
    flex-grow: 6;
}