@import "../../../vars.scss";
footer {
  padding: 20px;
  background-color: $primary-color;
  margin-top:20px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

}

a {
  color: $secondary-color;
  &:hover {
    font-weight: 600;
    color:$yellow;
  }
}

@media screen and (min-width:700px) {
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
      
      }
}